<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<br>
<table style="width:60%" border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Phone number</th>
        <th>Email</th>
        <th colspan="2">Operations</th>
    </tr>

    <tr th:each="user : ${allUsers}">
        <td th:utext="${user.getName}">Name</td>
        <td th:utext="${user.getSurname}">Surname</td>
        <td th:utext="${user.getPhoneNumber}">Phone number</td>
        <td th:utext="${user.getEmail}">Email</td>
        <td><a th:href="@{/edit/{id}(id=${user.getId})}">Edit</a></td>
        <td><a th:href="@{/delete/{id}(id=${user.getId})}">Delete</a></td>
    </tr>

</table>

<br>

<a th:href="@{signup}">Add</a>

</body>
</html>